.nav-background{
background-color: #161719 !important;
}
.form-control{
    width: 100% !important;
}
.section_gap{
    padding: 130px 0 !important;
}
body{
    font-family: 'Fira Sans', sans-serif;
}