/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 25%;
    max-width: 25%;
    background: #7386D5;
    color: #0a5973;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -25%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #0a5973;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #0a5973;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #0a5973 !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -53%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    
   #sidebar {
    min-width: 53%;
    max-width: 53%;
    background: #7386D5;
    color: #0a5973;
    transition: all 0.3s;
    
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

}
/* mobil */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.kld {
    min-width: 25%;
    max-width: 25%;
    background: #7386D5;
    color: #0a5973;
    transition: all 0.3s;
    height: 100%;
}

.kld.active {
    margin-left: -25%;
}

.kld .sidebar-header {
    padding: 20px;
   
}

.kld ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.kld ul p {
  color: #0a5973;
    padding: 10px;
}

.kld ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.kld ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #0a5973;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.textcol{
    height: 97%;
  
    background-color: grey;
}
.textcol2{
    /* height: 97%; */
    overflow: auto;
    background-color: rgba(10, 89, 115, 1);;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .kld {
        margin-left: -53%;
    }
    .kld.active {
        margin-left: 0;
    }
    #sidebarCollapse2 span {
        display: none;
    }
    
   .kld {
    min-width: 53%;
    max-width: 53%;
    background: #7386D5;
    color: #0a5973;
    transition: all 0.3s;
    height: 800px;
    
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

}
@media (max-width: 600px){
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
    .kld {
        margin-left: -100%;
    }
    .kld.active {
        margin-left: 0;
    }
    #sidebarCollapse2 span {
        display: none;
    }
    #content{
        margin-left: 0;
    }
   .kld {
    min-width: 100%;
    max-width: 100%;
    background: #7386D5;
    color: #0a5973;
    transition: all 0.3s;
    height: 800px;
}
}
/* scrol */

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.d-none{
    display: none !important;
}
