{% extends 'index.html' %}
    <form method="POST" action="{{ url_for('home') }}">
        <textarea name="code" cols="40" rows="15"></textarea>
        <input type="submit" value="Run">
    </form>

    <h6>Result</h6>

    {% if res|length > 0 %}
    {% if res["success"] %}
    <p style="color: green;">Output: <span style="font-weight: bold;">SUCCESS</span></p>
    {% else %}
    <p style="color: red">Completion percentage: {{ res["pass_percent"] }} %</p>
    <p style="color: red">Problems: {{ res["problems"] }}</p>
    {% endif %}
    {% else %}
    <p></p>
    {% endif %}
